/* Form */
.jFormer { font-family: Arial; font-size: 16px; line-height: 1.25em; }
.jFormer .jFormerTitle { }
.jFormer .jFormerDescription { }
.jFormer .jFormerIFrame { border: none; display: none; width: 600px; height: 200px; clear: both; border: 1px solid #CCC; }
.jFormer .jFormerAfterControl {  }

/* Alerts and Modal */
.jFormer .jFormerAlertWrapper { position: fixed; top: 0; left: 0; z-index: 3; text-align: center; width: 100%; margin: 0 0 0 0; }
.jFormer .jFormerAlertWrapper .error { background-color: red; }
.jFormer .jFormerAlertWrapper .update { background-color: blue; }
.jFormer .jFormerAlert { max-width: 100px; margin: 0 auto; padding: .25em 1em .5em 1em; text-align: center; font-weight: bold; background: #333; color:#FFF; font-size: .8em; }
.jFormer .jFormerModalTransparency { position: absolute; z-index: 99999; width: 100%; height: 100%; left: 0; top: 0; filter: alpha(opacity: 50); -moz-opacity: .5; -khtml-opacity: .5; opacity: .5; background-color: #CCCCCC;}
.jFormer .jFormerModalWrapper { position: absolute; z-index: 1000000; width: 100%; height: 100%; left: 0; top: 0; }
.jFormer .jFormerModalWrapper .jFormerModal { border: 1px solid red; background: #F2F2F2; overflow: auto; min-width: 300px; max-width: 500px; margin: 0 auto; font-size: .8em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: 2px 12px 30px #333; }
.jFormer .jFormerModalWrapper .jFormerModal .jFormerModalHeader { background: #AA231D; color: #FFF; font-size: 1.4em; padding: .1em .25em; }
.jFormer .jFormerModalWrapper.jFormerModalNotice .jFormerModal { border: 1px solid #257AF8; background: #F2F2F2; overflow: auto; min-width: 300px; max-width: 500px; margin: 0 auto; font-size: .8em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: 2px 12px 30px #333; }
.jFormer .jFormerModalWrapper.jFormerModalNotice .jFormerModal .jFormerModalHeader { background: #257AF8; color: #FFF; font-size: 1.4em; padding: .1em .25em; }
.jFormer .jFormerModalWrapper .jFormerModal { border: 1px solid red; background: #F2F2F2; overflow: auto; min-width: 300px; max-width: 500px; margin: 0 auto; font-size: .8em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: 2px 12px 30px #333; }
.jFormer .jFormerModalWrapper .jFormerModal .jFormerModalContent { padding: .5em; background: #FFF; }
.jFormer .jFormerModalWrapper .jFormerModal .jFormerModalFooter { border-top: 1px solid #CECECE; text-align: right; }
.jFormer .jFormerModalWrapper .jFormerModal .jFormerModalFooter button { margin: .5em; font-size: 1em; background: #FFFFFF url(images/button-bg.png) repeat-x scroll left center; border: 1px solid; border-color: #DEDEDE #BBBBBB #BFBFBF #DEDEDE; padding: .35em .45em; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/* Page Navigator */
.jFormer .jFormPageNavigator { overflow: auto; }

.jFormer .jFormPageNavigatorTop { }
.jFormer .jFormPageNavigator ul { margin: 0; }
.jFormer .jFormPageNavigator li { margin: 0; list-style: none; }
.jFormer .jFormPageNavigatorTop { border-top: 1px dotted #CCC; border-bottom: 1px dotted #CCC; padding: .55em .5em .5em 0; margin-bottom: .5em; }
.jFormer .jFormPageNavigatorTop .jFormPageNavigatorLink { float: left; margin: 0 .5em 0 0; text-align: center; color: #000; cursor: pointer; padding: 0 .75em .1em 0; }
.jFormer .jFormPageNavigatorTop .jFormPageNavigatorLink .jFormNavigatorLinkPrefix { width: 34px; height: 29px; padding: 1px 0 0 0; text-align: center; display: inline-block; }
.jFormer .jFormPageNavigatorTop .jFormPageNavigatorLinkUnlocked .jFormNavigatorLinkPrefix { background: url(images/page-navigator-unlocked.png) .3em 50% no-repeat; color: #666; }
.jFormer .jFormPageNavigatorTop .jFormPageNavigatorLinkLocked .jFormNavigatorLinkPrefix { background: url(images/page-navigator-locked.png) .3em 50% no-repeat; color: #666; }
.jFormer .jFormPageNavigatorTop .jFormPageNavigatorLinkDependencyLocked .jFormNavigatorLinkPrefix { background: url(images/page-navigator-dependency-locked.png) .3em 50% no-repeat; color: #666; }
.jFormer .jFormPageNavigatorTop .jFormPageNavigatorLinkWarning .jFormNavigatorLinkPrefix { background: url(images/page-navigator-warning.png) .3em 50% no-repeat; }
.jFormer .jFormPageNavigatorTop .jFormPageNavigatorLinkActive .jFormNavigatorLinkPrefix { background: url(images/page-navigator-active.png) .3em 50% no-repeat; color: #000; font-weight: bold; }

.jFormer .jFormPageNavigatorRight { position: absolute; top: 0; right: 0; }
.jFormer .jFormPageNavigatorRight .jFormPageNavigatorLink { border: 1px solid #CCC; margin: 0 0 .25em 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.jFormer .jFormPageNavigatorRight .jFormPageNavigatorLinkUnlocked { padding: .25em .75em .25em 1.9em; background: url(images/accept.png) .3em 50% no-repeat; cursor: pointer; color: #2C8AEF; }
.jFormer .jFormPageNavigatorRight .jFormPageNavigatorLinkDisabled { padding: .25em .75em .25em .55em; color: #999; cursor: default; }
.jFormer .jFormPageNavigatorRight .jFormPageNavigatorLinkWarning { padding: .25em .75em .25em 1.9em; background: url(images/error.png) .3em 50% no-repeat; cursor: pointer; color: #2C8AEF; }
.jFormer .jFormPageNavigatorRight .jFormPageNavigator li.jFormPageNavigatorLinkActive { background-color: #DFEFFF; border: 1px solid #C2D7EF; }

.jFormer .jFormerProgress {}
.jFormer .jFormerProgressBar { background: #2C8AEF; border: 1px solid #006BDF; -moz-border-radius: 5px; width: 0; }
.jFormer .jFormerProgressBar p { text-align: center; color: #FFF; line-height: 2em; margin: 0; }

/* Control */
.jFormer .jFormerControl { clear: both; margin: .75em 0 0 0; padding: 0 0 1.5em 0; list-style: none; overflow: hidden; }
.jFormer .jFormerControl li { float: left; margin: 0 1em 0 0; position: relative; }
.jFormer .jFormerControl li button { font-size: .8em; margin: 0 0 1em 0; background: #FFFFFF url(images/button-bg.png) repeat-x scroll left center; border: 1px solid; border-color: #DEDEDE #BBBBBB #BFBFBF #DEDEDE; padding: .65em .75em; cursor: pointer; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -webkit-border-radius: 5px; }
.jFormer .jFormerControl li button:hover { border-color: #2C8AEF; }
.jFormer .jFormerControl li button:active { border-color: #7FBCFF; }
.jFormer .jFormerControl .jFormerFailureNotice { font-size: .8em; background: url(images/exclamation.png) no-repeat .5em 50%; padding: .25em .75em .25em 2em; background-color: #FFDFE0; border: 1px solid #EFC2C4; -moz-border-radius: 5px; -webkit-border-radius: 5px;  }

/* Pages */
.jFormer .jFormWrapperContainer { overflow: auto; }
.jFormer .jFormPageWrapper { overflow: hidden; clear: both; }
.jFormer .jFormPageScroller { }
.jFormer .jFormPage { float: left; }
.jFormer .jFormPage .jFormPageTitle { }
.jFormer .jFormPage .jFormPageDescription { }
.jFormer .jFormPageInactive { visibility: hidden; }
.jFormer .jFormPageSuccess {}
.jFormer .jFormPageFailure {}
.jFormer .jFormerFailure { background: url(images/exclamation.png) no-repeat .5em 50%; padding: .25em .75em .25em 2em; background-color: #FFDFE0; border: 1px solid #EFC2C4; -moz-border-radius: 5px; -webkit-border-radius: 5px;  }

/* Sections */
.jFormer .jFormSection { clear: both; overflow: auto; }
.jFormer .jFormSection .jFormSectionTitle { }
.jFormer .jFormSection .jFormSectionDescription { }
.jFormer .jFormSectionDependencyDisabled { background: url(images/lock.png) no-repeat top right #f1f1f1; color: #CCC; border: 1px solid #f1f1f1; }
.jFormer .jFormSectionDependencyDisabled:hover { background-color: #f1f1f1; border: 1px solid #CCC; }

/* Instances */
.jFormer .jFormComponentAddInstanceButton { display: block; margin: 0 0 .75em .65em; background: url(images/add.png) no-repeat .25em 50% #EEEEEE; font-size: .8em; clear: both; border: 1px solid #AAA; padding: .25em .25em .25em 1.5em; cursor: pointer; -moz-border-radius: 5px; }
.jFormer .jFormComponentRemoveInstanceButton { display: inline; margin: 0 0 0 .5em; background: url(images/cancel.png) no-repeat .25em 50% #EEEEEE; font-size: .8em; clear: both; border: 1px solid #AAA; padding: .25em .25em .25em 1.5em; cursor: pointer; -moz-border-radius: 5px; }
.jFormer .jFormSectionAddInstanceButton { display: block; margin: 0 0 .75em .65em; background: url(images/add.png) no-repeat .25em 50% #EEEEEE; font-size: .8em; clear: both; border: 1px solid #AAA; padding: .25em .25em .25em 1.5em; cursor: pointer; -moz-border-radius: 5px; }
.jFormer .jFormSectionRemoveInstanceButton { display: block; margin: 0 0 .75em .65em; background: url(images/cancel.png) no-repeat .25em 50% #EEEEEE; font-size: .8em; clear: both; border: 1px solid #AAA; padding: .25em .25em .25em 1.5em; cursor: pointer; -moz-border-radius: 5px; }

/* Tips */
.jFormer .jFormerTip { position: absolute; top: 0; left: 0; display: none; z-index: 3; max-width: 300px; _width: 300px; }
.jFormer .jFormerTip .tipArrow { position: relative; display: block; margin: 8px 0 0 1px; width: 12px; height: 16px; background: url(images/tip-arrow-left.png) no-repeat; }
.jFormer .jFormerTip .tipContent { position: relative; top: -22px; left: 13px; background: #333333; zoom: 1; color: #FFF; z-index: 3; padding: .75em 1em .75em .95em; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: 2px 2px 8px #444; -webkit-box-shadow: 2px 2px 8px #444; }
.jFormer .jFormerTip .tipContent p { font-size: .8em; color: #FFF; margin: 0 0 .5em 0; }
.jFormer .jFormerTip .tipContent li { font-size: .8em; }
.jFormer table .jFormerTip .tipContent p { font-size: 1em; }
.jFormer table .jFormerTip .tipContent ul { font-size: 1em; }
.jFormer .jFormerTip .tipContent ul { margin: 0 0 0 1em; padding: 0; }
.jFormer .jFormerTip .tipContent .tipErrorUl { color: #FF8F8F; }
.jFormer .jFormerTip .tipContent .tipErrorUl li { list-style-type: disc; font-weight: bold; }
.jFormer .jFormerTipBlurred { z-index: 2 !important; }
.jFormer .jFormerTipBlurred .tipArrow { background: url(images/tip-arrow-left-blurred.png) no-repeat; }
.jFormer .jFormerTipBlurred .tipContent { background-color: #555; -moz-box-shadow: 2px 2px 8px #555; -webkit-box-shadow: 2px 2px 8px #555; }
.jFormer .jFormComponentMultipleChoiceTipIcon  { display: inline-block; width: 16px; height: 20px; background: url(images/help.png) no-repeat 0 3px; }
.jFormer .jFormComponentMultipleChoiceTip .tipArrow { margin-top: 3px !important; }
.jFormer .jFormComponentMultipleChoiceTip .tipContent { top: -23px !important; }

/* Components */
.jFormer .jFormComponent { padding: .25em .8em .5em .5em; overflow: hidden; margin-bottom: 3px; border: 1px solid transparent; float: left; clear: both; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.jFormer .jFormComponent input { font-family: Arial; font-size: .8em; padding: 3px .35em; background: #EEEEEE url('images/input-bg.gif') repeat-x 0 1px scroll; border: 1px solid #AAA; }
.jFormer .jFormComponent select { font-family: Arial; font-size: .8em; background: #EEEEEE; border: 1px solid #AAA; }
.jFormer .jFormComponent textarea { font-family: Arial; font-size: .8em; padding: 3px .35em; background: url('images/input-bg.gif') repeat-x 0 1px scroll #EEEEEE; border: 1px solid #AAA; resize:none;}
.jFormer .jFormComponent .defaultValue { color: #666666; }
.jFormer .jFormComponent .jFormComponentDescription { clear: both; margin: .5em 0 0 0; }
.jFormer .jFormComponentHighlight { background-color: #DFEFFF; border: 1px solid #C2D7EF; }
.jFormer .jFormComponentServerSideCheck { background-color: #FFFCDF; border: 1px solid #EFEBC2; }
.jFormer .jFormComponentValidationFailed { background-color: #FFDFE0; border: 1px solid #EFC2C4; }
.jFormer .jFormComponentValidationPassed { }
.jFormer .jFormComponentDependencyDisabled { background: url(images/lock.png) no-repeat top right #f1f1f1; color: #CCC; }
.jFormer .jFormComponentDependencyDisabled.jFormComponentHighlight { background-color: #f1f1f1; border: 1px solid #CCC; }

/* Labels and Sublabels */
.jFormer .jFormComponent .jFormComponentLabel { display: block; font-size: .8em; font-weight: bold; }
.jFormer .jFormComponent .jFormComponentLabelRequiredStar { color: #F00; }
.jFormer .jFormComponentValidationFailed .jFormComponentLabel, .jFormer .jFormComponentValidationFailed .jFormComponentLikertStatementLabel { background: url(images/exclamation.png) no-repeat left; padding-left: 18px; }

.jFormer .jFormComponent .jFormComponentSublabel p { margin: 0; padding: 0; font-size: .7em; }

/* Component Type - SingleLineText */
.jFormer .jFormComponentSingleLineText input { width: 12em; }

/* Component Type - TextArea */
.jFormer .jFormComponentTextArea textarea { width: 24em; height: 12em; }

/* Component Type - MultipleChoice */
.jFormer .jFormComponentMultipleChoice .choiceWrapper { }
.jFormer .jFormComponentMultipleChoice .choice { cursor: pointer; margin: 0 .35em 0 0; }
.jFormer .jFormComponentMultipleChoice .choiceLabel { font-size: .8em; font-weight: normal; margin-right: 1em; cursor: pointer; }
.jFormer .jFormComponentMultipleChoiceTip { z-index: 5; }

/* Component Type - DropDown */
.jFormer .jFormComponentDropDown .dropDown { display: block; }
.jFormer .jFormComponentDropDown .dropDown .choice { }

/* Component Type - Hidden */
.jFormer .jFormComponentHidden { display: none; }

/* Component Type - File */
.jFormer .jFormComponentFile { }
.jFormer .jFormComponentFile .pseudoFile { z-index: 1; }
.jFormer .jFormComponentFile .pseudoFile input { border: 1px solid #AAA !important; color: #000 !important; }
.jFormer .jFormComponentFile .pseudoFile input:disabled { border: 1px solid #AAA !important; color: #000 !important; }
.jFormer .jFormComponentFile .pseudoFile button:disabled { color: #000; border: 1px solid; border-color: #DEDEDE #BBBBBB #BFBFBF #DEDEDE; }
.jFormer .jFormComponentFile .pseudoFile button { font-size: .8em; margin: 0 0 0 .25em; background: #FFFFFF url(images/button-bg.png) repeat-x scroll left center; border: 1px solid; border-color: #DEDEDE #BBBBBB #BFBFBF #DEDEDE; padding: .25em .5em .225em .5em; cursor: pointer; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -webkit-border-radius: 5px; }
.jFormer .jFormComponentFile .file.hidden { z-index: 2; text-align: right; position: relative;  font-size: 1.1em; filter: alpha(opacity: 0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }

/* Component Type - Name */
.jFormer .jFormComponentName input:focus {  border: 1px solid #888; }
.jFormer .jFormComponentName .firstNameDiv { display:block; float:left; }
.jFormer .jFormComponentName .firstName { width: 7em; margin-right: .35em; }
.jFormer .jFormComponentName .middleInitialDiv { display:block; float:left; }
.jFormer .jFormComponentName .middleInitial { width: 2em; margin-right: .35em; }
.jFormer .jFormComponentName .lastNameDiv { display:block; float:left; }
.jFormer .jFormComponentName .lastName { width: 10em; }

/* Component Type - Address */
.jFormer .jFormComponentAddress { }
.jFormer .jFormComponentAddress input:focus { border: 1px solid #888; }
.jFormer .jFormComponentAddress select:focus {  border: 1px solid #888; }
.jFormer .jFormComponentAddress .addressLine1Div { display: block; }
.jFormer .jFormComponentAddress .addressLine1 { width: 24em; }
.jFormer .jFormComponentAddress .addressLine2Div { display: block; margin-top: .25em; }
.jFormer .jFormComponentAddress .addressLine2 { width: 24em; }
.jFormer .jFormComponentAddress .cityDiv { margin: .25em .5em 0 0; display: block; float: left; }
.jFormer .jFormComponentAddress .city { width: 10em; }
.jFormer .jFormComponentAddress .stateDiv { margin: .25em 0 0 0; display: block; float: left; }
.jFormer .jFormComponentAddress .state { width: 12.1em; }
.jFormer .jFormComponentAddress select.state { padding: .15em 0em; width: 13.35em; }
.jFormer .jFormComponentAddress .zipDiv { margin: .25em .5em 0 0; clear: both; display: block; float: left; }
.jFormer .jFormComponentAddress .zip { width: 10em; }
.jFormer .jFormComponentAddress .countryDiv { margin: .25em 0 0 0; display: block; float: left; }
.jFormer .jFormComponentAddress .country { width: 13.35em; padding: .15em 0em; }

/* Component Type - CreditCard */
.jFormer .jFormComponentCreditCard { }
.jFormer .jFormComponentCreditCard input:focus { border: 1px solid #888; }
.jFormer .jFormComponentCreditCard select:focus {  border: 1px solid #888; }
.jFormer .jFormComponentCreditCard .cardTypeDiv { display: block; }
.jFormer .jFormComponentCreditCard .cardType { width: 14.225em; }
.jFormer .jFormComponentCreditCard .cardNumberDiv { display: block; margin-top: .25em; }
.jFormer .jFormComponentCreditCard .cardNumber { width: 13.35em; padding-left: .35em; }
.jFormer .jFormComponentCreditCard .expirationDateDiv { display: block; margin-top: .25em; float: left; overflow: auto; }
.jFormer .jFormComponentCreditCard .expirationMonth.long { width: 9.1em; }
.jFormer .jFormComponentCreditCard .expirationMonth { margin-right: .5em; margin-bottom: .1em; }
.jFormer .jFormComponentCreditCard .expirationDateSeparator { margin-right: .5em; font-size: .8em; }
.jFormer .jFormComponentCreditCard .expirationYear { }
.jFormer .jFormComponentCreditCard .expirationYear.long { width: 4.5em; }
.jFormer .jFormComponentCreditCard .securityCodeDiv { clear: both; display: block; float: left; margin-top: .25em; }
.jFormer .jFormComponentCreditCard .securityCode { width: 5em; padding-left: .35em; }


/* Component Type - Likert */
.jFormer .jFormComponentLikert { }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable { background: #FFF; border-collapse: collapse; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable td { border: 1px solid #CCC; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable th { border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #CCC; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable tr { }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable tr.jFormComponentLikertTableHeading { background: #E6E6E6; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable tr.jFormComponentLikertTableRowEven { background-color: #FFF; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable tr.jFormComponentLikertTableRowOdd { background-color: #F5F5F5; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable tr.jFormComponentHighlight { background-color: #FFFFCF; border: none; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable tr.jFormComponentHighlight td {  }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable tr.jFormComponentValidationFailed { border: none; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable tr.jFormComponentValidationFailed td { background-color: #FFEFF0; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable th { font-size: .9em; line-height: 1.5em; padding: .5em; text-align: center; max-width: 6em; min-width: 6em; vertical-align: middle; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable th.jFormComponentLikertStatementColumn { font-size: 1em; padding: .5em .5em .5em .8em; min-width: 15em; text-align: left; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable td { border: 1px solid #CCC; text-align: center; padding: .5em 1.5em; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable td.jFormComponentLikertStatementColumn { padding: .5em .5em .5em .8em; min-width: 15em; text-align: left; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable label.jFormComponentLikertStatementLabel { font-weight: bold; }
.jFormer .jFormComponentLikert table.jFormComponentLikertTable div.jFormComponentLikertStatementDescription p { font-size: 1em; }
.jFormer .jFormComponentLikert label.jFormComponentLikertSublabel { display: block; font-size: .9em; }

/* Component Type - Date */
.jFormer .jFormComponentDate input { width: 9em; }
.jFormer .jFormComponentDateButton { cursor:pointer; width: 16px; height: 16px; padding: 0; margin: 0 3px -2px; display: inline-block; text-indent: -2000px; overflow: hidden; background: url(images/calendar.gif) no-repeat; }
.jFormer .jFormComponentDateSelector { background: #F2F2F2; border: 1px solid #bbb;  padding: 5px 5px 5px 8px;  margin: -1px 0 0 0;  position: absolute;  z-index: 100000;  display: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.jFormer .jFormComponentDateSelectorIEFrame { position: absolute;  z-index: 99999;  display: none; }
.jFormer .jFormComponentDateSelector .jFormComponentDateSelectorNavigator {  width: 13.5em; /* 7 * 2.5em */  }
.jFormer .jFormComponentDateSelector .jFormComponentDateSelectorMonthNavigator, .jFormComponentDateSelector .jFormComponentDateSelectorYearNavigator {  margin: 0 0 3px 0;  padding: 0;  display: block;  position: relative;  text-align: center;  }
.jFormer .jFormComponentDateSelector .jFormComponentDateSelectorMonthNavigator { float: left;  width: 50%;  }
.jFormer .jFormComponentDateSelector .jFormComponentDateSelectorYearNavigator { float: right;  width: 35%;  }
.jFormer .jFormComponentDateSelector .jFormComponentDateSelectorMonthName, .jFormComponentDateSelector .jFormComponentDateSelectorYearName { font-weight: bold; line-height: 20px;  }
.jFormer .jFormComponentDateSelector .jFormComponentDateSelectorButton { display: block; position: absolute; top: 0; width: 18px; height: 18px; line-height: 17px; font-weight: bold; color: #003C78; text-align: center; font-size: 120%; overflow: hidden; border: 1px solid #F2F2F2; }
.jFormer .jFormComponentDateSelector .jFormComponentDateSelectorButton:hover, .jFormComponentDateSelector .jFormComponentDateSelectorButton.hover { background: none; color: #003C78; cursor: pointer; border-color: #ccc; }
.jFormer .jFormComponentDateSelector .jFormComponentDateSelectorPrevious { left: 0; }
.jFormer .jFormComponentDateSelector .jFormComponentDateSelectorNext { right: 0; }
.jFormer .jFormComponentDateSelector table { border-spacing: 0; border-collapse: collapse; clear: both; }
.jFormer .jFormComponentDateSelector th, .jFormComponentDateSelector td { width: 2.3em; height: 2em; padding: 0; text-align: center; color: black; }
.jFormer .jFormComponentDateSelector td { border: 1px solid #ccc; text-align: center; white-space: nowrap; color: #003C78; background: white; }
.jFormer .jFormComponentDateSelector td.jFormComponentDateSelectorToday { background: #FFFEB3; }
.jFormer .jFormComponentDateSelector td.jFormComponentDateSelectorUnselectedMonth { color: #ccc; }
.jFormer .jFormComponentDateSelector td.jFormComponentDateSelectorSelectedDay { cursor: pointer; }
.jFormer .jFormComponentDateSelector td.jFormComponentDateSelectorSelected { background: #D8DFE5; font-weight: bold; }
.jFormer .jFormComponentDateSelector td.jFormComponentDateSelectorSelectedDay:hover, .jFormComponentDateSelector td.jFormComponentDateSelectorSelectedDay.hover { background: #003C78; color: white; }